* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

.shoes-navbar {
    width: 100%;
    height: 62px;
    background-color: red;
}

.shoes-navbar ul li {
    list-style: none;
    background-color: white;
    border-radius: 100%;
    float: right;
    line-height: 8px;
    padding: 12px;
    margin: 15px;
    font-size: 10px;
}

.shoes-navbar ul li a {
    text-decoration: none;
}



